* {
    padding: 0;
    margin: 0;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px); 
}

body {
    font-family: "Montserrat";
    background-color:  #000915;
}

a {
    text-decoration: none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #9C0332;
    border-color: transparent;
    color: #FFF;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &:hover {
        background: #EB443F;
    }
}

.top {
    padding-top: 217.1px;
    height: 1024px;
    background: url(./img/view_background.jpg);
    background-repeat: no-repeat;
    background-size: contain;

    &__header {
        color: #FFF;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 32px;
    }

    &__text {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px; 
        display: block;
        max-width: 481px;
        padding-bottom: 44px;

        &-link {
            color: #FFF;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
        } 
    }

    &__button {
        width: 234.063px;
        height: 48.603px;
    }
}

.games {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding-top: 128px;
    padding-bottom: 128px;

    &__game-card {
        box-sizing: border-box;
        width: 379px;
        height: 300px;
        flex-shrink: 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding-left: 32px; 
        padding-bottom: 32px;
        color: #FFF;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        border: 3px solid transparent;
        border-radius: 16px;
        background-repeat: no-repeat;
        background-size: cover;

        &:hover {
            border: 3px solid #44D2FF;
        }

        &-1 {
            background-image: url(./img/Game1.png);
        }

        &-2 {
            background-image: url(./img/Game2.png);
        }

        &-3 {
            background-image: url(./img/Game3.png); 
        }
    }
}

.seasons {
    display: flex;
    gap: 135px;
    padding-bottom: 233.5px;
    padding-top: 233.5px;
    justify-content: space-between;

    &__form {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__header {
        color: #FFF;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__text {
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px; /* 177.778% */
        display: block;
        width: 584px;
    }

    &__button {
        width: 234.063px;
        height: 48.603px;
    }

    &__svg {
        width: 485px;
        height: 333px;
    }
}

@import 'mobile';